
.banner{
    background-image: url('../resources/Banner\ Image.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}

.banner h1, h3{
    color: white;
    text-align: center;
    position: relative;
    
}

#title1{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
}
#title2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
  }