*{
  font-family: Arial;
}
.banner{
   margin: 30px 50px;

}
.banner img{
  width: 100%;
  background-image: linear-gradient(180deg, black, white);


}
.banner h1, h3{
    color: white;
    text-align: center;
    position: relative;
    
}

#title1{
  position: absolute;
  top:35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
}
#title2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
  }

  .deals{
    text-align: center;
  }

  .deals h1{
    font-size: 70px;
    color: red;
  }

  .deals p{
    color: red;
  }
   .deals h4{
    font-size: xx-large;
   }

   .party{
    background-image: url("../resources/Vectorrr.png");
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    margin: 50px;
    
   }

   .gretings{
    
    color: white;
    margin-left: 150px;
    margin-top: 100px;

   }

   #gre-text{
    font-size: 70px;

   }

   .part-img{
    margin-top: 100px;
   }

   .schedule{
    text-align: center;
    background-image: linear-gradient(180deg, pink, rgb(244, 239, 239));
    margin: 50px 100px;
    padding: 150px;
    border-radius: 25px;
   }

   .schedule span{
    color: red;
   }

   .schedule button{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
   }

   .offer{
    margin: 30px 100px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   .offer-text h4{
    color: red;
   }
   #offer-img{
    border-radius: 50%;
    padding: 50px;
    border: solid red 10px;

   }

   .year-con{
    padding: 50px;
   }

   .year{
    color: red;
   }

   .function{
    text-align: center;
   }

   .function span{
    color: red;
   }

   .discounts{
    display: flex;
    justify-content: center;
   }
   #box{
    margin-bottom: -250px;
   }
   .dis-50{
    background-image: url("../resources/Rectangle\ 1.png");
    background-repeat: no-repeat;
   }
  
   .holiday{
    text-align: center;
   }

   

   .gift{
    display: flex;
    justify-content: space-around;
    margin: 50px 250px 50px ;
   }
   .gift img{
    padding: 15px;
   }

   .gift :hover{
    box-shadow: 10px 10px 5px #888888;
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
   }

   .sub-con{
    text-align: center;
    background-color: pink;
    margin: 50px 100px 50px;
    padding: 100px;
    border-radius: 10px;
   }
  
   .sub-con input{
    width: 500px;
    height: 30px;
    border: none;
    border-radius: 30px;
    padding: 15px;
   }


   .footer{
    background-color: black;
   }

   .footer-text{
    display: flex;
    justify-content: space-between;
    margin:50px 150px 50px;
    color: white;
    padding-top: 100px;
   }

   .icon{
    text-align: center;
    letter-spacing: 5px;
   }

   .icon img{
    padding: 20px;
   }

  .fot-bot{
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 50px 100px 20px;
    padding: 50px;
  }

   
   

   